.new_posts {
  padding-top: 10px;
  width: 100%;
}

.summary_post {
  background: #fff;
  border: 1px solid #EBEBEA;
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.user_image {
  width: 50px;
  height: 50px;
  border: 1px solid #ececec;
  border-radius: 50%;
  margin-right: 10px;
}

.user_nickname {
  color: #242524;
  font-size: 15px;
  font-weight: 500;
}

.user_nickname .preFix {
  color: #8C8D8B;
  font-size: 15px;
}

.postTitle {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  color: #242524;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_contnet {
  font-size: 15px;
  margin: 0 0 10px 0;
  color: #242524;
  display: -webkit-box;
  line-height: 22px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon_group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.icon_button {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.icon_text {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  font-size: 15px;
  color: #8C8D8B;
}